@import "tailwindcss";

@theme {
  --color-primary: #741fde;
  --color-primary-contrast: #ffffff;
  --color-neutral: #dbdbdb;
  --color-contrast: #000;
  --color-error: #ba3f3f;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade {
  animation: fade 0.3s ease-in-out;
}

body {
  margin: 0;
  background-color: gainsboro;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
